.select-column {
    text-align: center;
}

.row-expand-button {
    cursor: pointer;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.data-column{
	font-weight: 400;
    font-size: 0.85em;
}

.column-booking_id{
	color: #8d8e8f;
	font-weight: 300;
}


input[type="checkbox"]:before{
      top: -13px;
}