.select-column {
    text-align: center;
}

.row-expand-button {
    cursor: pointer;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.data-column{
	font-weight: 400;
    font-size: 0.85em;
	padding: .35rem .5rem;
	border-right: 0;
	border-left: 0;
}

.select-column{
	border-right: 0;
	border-left: 0;	
}


.column-booking_id{
	color: #8d8e8f;
	font-weight: 300;
}

.data-table-row{
	background-color: #fff;
}

.data-table-row:hover{
	background-color: rgba(42, 159, 216, 0.05) !important;
}

input[type="checkbox"]:before{
      top: -13px;
}


