
<header class="vl-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center align-self-center">
				<h5 class="vl-logo m-b-0"><img src="./assets/img/logo.png" width="180"></h5>
			</div>
			<div class="col-sm-4 text-center align-self-center">
				<div class="app-detail thinner">
					<i class="fa fa-commenting" aria-hidden="true"></i>
					SMS App
				</div>
			</div>
			<div class="col-sm-4 text-center align-self-center">
				<a href="#" class="back-link cloud-color thinner"><i class="fa fa-angle-left p-r-5 label-size" aria-hidden="true"></i> Back to the app</a>
			</div>
		</div>
	</div>
</header>

<div class="container vl-participant">
	<div class="row vl-participant__filter">
		<main-dropdowns [frompage]="'sms'" (onOutput)="initDatatable()">
		</main-dropdowns>
	</div>
	<div class="row vl-participants__data pb-5">
		<!-- If not values selected -->
		<div *ngIf="!showParticipants" class="col-sm-12 align-self-center">
			<div class="empty-box text-center">
				<i class="fa fa-commenting" aria-hidden="true"></i>
				<p class="label-size m-b-0 text-lighter">Please select a <b>trip</b> and <b>departure</b> above and click on 'Show Participants'.</p>
			</div>
		</div>
		<!-- Results -->
		<div *ngIf="showParticipants" class="col-sm-12 mb-2">
			<div class="results-header pt-3 pb-3">
				<h5 class="heavier m-b-0 pb-1 result--title">Little Rann of Kutch</h5>
				<ul class="d-flex text-medium results-header__details">
					<li class="pr-2"><b>LRRK24023</b></li>
					<li class="lighter date-range"><b>1</b> Oct to <b>3</b> Oct</li>
				</ul>
			</div>
		</div>
		<div *ngIf="showParticipants" class="col-sm-8">
			<!-- Datables -->
			<data-table
				[items]="passengers"
				[itemCount]="passengerCount"
				(reload)="reloadCars($event)"
				(rowClick)="rowClick($event)"

				[pagination]="false"
				[indexColumn]="false"
				[selectColumn]="true"
				[multiSelect]="true"
				[rowColors]="rowColors"
				>
				<data-table-column
				property="passenger_name"
				header="Passenger Name"
				sortable="true">
					<ng-template #dataTableCell let-item="item">
						<strong>{{item.passenger_name}}</strong>
						<span [hidden]="!item.primary">(Primary)</span>
					</ng-template>
				</data-table-column>
				
				<data-table-column
				property="phone_no"
				header="Phone No.">
					<ng-template  #dataTableCell let-item="item">
						<span>{{item.phone_no}}</span>
					</ng-template>
				</data-table-column>
				
				<data-table-column
				property="booking_id"
				header="Booking ID"
				sortable="true">
					<ng-template  #dataTableCell let-item="item">
						<span>{{item.booking_id}}</span>
					</ng-template>
				</data-table-column>
				
				<data-table-column
				property="booking_status"
				header="Booking Status"
				sortable="true">
					<ng-template  #dataTableCell let-item="item">
						<span>{{item.booking_status}}</span>
					</ng-template>
				</data-table-column>
				
				<!-- <data-table-column
				header="Actions">
				<ng-template #dataTableHeader let-item="item">
					<i>Actions</i>
				</ng-template>
				<ng-template #dataTableCell let-item="item">
					<button (click)="carClicked(item)" class="btn btn-sm btn-default">Buy</button>
				</ng-template>
				</data-table-column> -->
			
			</data-table>
		</div>

		<send-sms [sms-users]="passengers" *ngIf="showParticipants" (onSendSms)="sendSMS($event)"></send-sms>
	</div>
</div>

