html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  font-family: 'Roboto', sans-serif;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: inherit;
}
a:focus,
a:active {
  outline: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.3em;
}
p {
  font-size: 1.1em;
}
span {
  font-size: 0.95em;
}
.x-small {
  font-size: 0.9em;
}
.xx-small {
  font-size: 0.75em;
}
.xxx-small {
  font-size: 0.6em;
}
.vl-btn {
  font-size: 0.9em;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid;
  padding: 0.35em 1em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.22);
}
.vl-btn.outline {
  background-color: #fff;
  color: #4a90e2;
  border: 1px solid;
}
.vl-btn.outline:hover,
.vl-btn.outline:active {
  background-color: #4a90e2;
  color: #fff;
  border: 2px solid;
}
.vl-btn.s-outline {
  background-color: #fff;
  color: #00b990;
  border: 1px solid;
}
.vl-btn.s-outline:hover,
.vl-btn.s-outline:active {
  background-color: #00b990;
  color: #fff;
  border: 2px solid;
}
.vl-btn.half-border {
  border-bottom: 2px solid;
}
.vl-btn.half-border:hover {
  border: 1px solid;
  border-bottom: 2px solid;
}
.vl-btn.border-btn {
  border: 2px solid;
}
.vl-btn.mini {
  padding: 6px 20px;
}
.vl-btn.primary-btn {
  background-color: #4a90e2;
  color: #fff;
  border-color: #4a90e2;
}
.vl-btn.primary-btn:hover {
  background-color: #fff;
  color: #4a90e2;
  border: 1px solid;
}
.vl-btn.secondary-btn {
  background-color: #00b990;
  color: #fff;
  border-color: #00b990;
}
.vl-btn.secondary-btn:hover {
  background-color: #fff;
  color: #00b990;
  border: 1px solid;
}
.vl-btn.danger-btn {
  background-color: #d0021b;
  color: #fff;
  border-color: #d0021b;
}
.vl-btn.danger-btn:hover {
  background-color: #fff;
  color: #d0021b;
  border: 1px solid;
}
.vl-btn.full {
  padding: 0.85em 1.8em;
}
.vl-btn:active,
.vl-btn:focus {
  box-shadow: none;
  outline: 0;
}
.vl-btn.bnw {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  text-decoration: none;
}
.vl-btn.grey {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
.vl-btn.grey:hover,
.vl-btn.grey:active {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
.vl-btn.fullwidth {
  display: block;
  width: 100%;
}
.vl-btn.no-border {
  border: 0;
  background-color: transparent;
}
.vl-btn.no-border:hover,
.vl-btn.no-border:active {
  background-color: transparent;
  border: 0;
  color: #4a90e2;
}
.vl-btn.alternate {
  background-color: #159f70;
  color: #fff;
  border: 2px solid #159f70;
}
.vl-btn.alternate:hover {
  background-color: transparent;
  color: #159f70;
}
.vl-btn.white-border {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.vl-btn.link-btn.btn.link-btn {
  background-color: transparent;
  color: #4a90e2;
  border: 0;
  box-shadow: none;
}
.vl-btn.link-btn.btn.link-btn:hover {
  background-color: transparent;
  color: #76abe9;
  border: 0;
}
.vl-btn.medium-btn {
  padding: 0.5em 1.5em;
}
.vl-btn:disabled {
  opacity: 0.4;
}
.social-btn {
  padding: 0.8em 2em;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.social-btn.fb {
  background-color: #3b5998;
}
.social-btn.google {
  background-color: #ec2c2c;
}
.social-btn:hover {
  color: #fff;
  text-decoration: none;
}
.social-btn i {
  position: absolute;
  left: 10px;
  font-size: 1.35em;
}
.status-label {
  padding: 0.3em 0.6em;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8em;
}
.status-label.confirmed {
  background-color: #11a44a;
}
.status-label.pending,
.status-label.unconfirmed {
  background-color: #f19333;
}
input[type=checkbox] {
  margin-right: 8px;
  margin-top: 2px;
  -webkit-appearance: none;
  outline: 0;
  width: 15px;
  position: relative;
}
input[type=checkbox]:before {
  content: "";
  padding: 0;
  position: absolute;
  left: 0;
  color: #dcdcdc;
  font-size: 1.35em;
  cursor: pointer;
  background-image: url('assets/img/checkbox.png');
  background-size: cover;
  top: 0;
  width: 15px;
  height: 15px;
  text-align: center;
}
input[type=checkbox]:checked:before {
  background-image: url('assets/img/checkbox-checked.png');
  background-size: initial;
}
input[type=checkbox].disable {
  pointer-events: none;
  opacity: 0.4;
}
input[type=checkbox]:focus {
  outline: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  input[type=checkbox] {
    border: 0;
  }
  input[type=checkbox]:before {
    font-size: 1.5em;
  }
}
input[type=radio].fnb-radio {
  margin-right: 8px;
  position: relative;
}
input[type=radio].fnb-radio:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  background-color: #fff;
  padding: 0;
  position: absolute;
  top: -4px;
  left: -1px;
  color: #dcdcdc;
  font-size: 1.5em;
  cursor: pointer;
}
input[type=radio].fnb-radio:checked:before {
  content: "\f192";
  color: #00b990;
}
input[type=radio].fnb-radio.disabled {
  pointer-events: none;
}
input[type=radio].fnb-radio.disabled:before {
  content: '\f10c';
  color: #ccc;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}
@keyframes pulse {
  50% {
    background: white;
  }
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #4a90e2;
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
.loading-pulse {
  position: relative;
  width: 4px;
  height: 60px;
  background: #4a90e2;
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  margin: 0 auto;
}
.loading-pulse:before,
.loading-pulse:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 4px;
  background: #4a90e2;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}
.loading-pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.loading-pulse:before {
  left: -12px;
}
@-webkit-keyframes loading {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes loading {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.site-loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  background-color: rgba(255, 255, 255, 0.88);
  color: #4a90e2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4em;
}
.site-loader.section-loader {
  position: absolute;
  z-index: 11;
}
@media screen and (max-width: 650px) {
  .site-loader.section-loader {
    position: fixed;
    z-index: 2;
  }
}
@media screen and (max-width: 650px) {
  .tab-pane .section-loader {
    position: absolute;
  }
}
#floatingBarsG {
  position: relative;
  width: 31px;
  height: 38px;
  margin: auto;
}
.blockG {
  position: absolute;
  background-color: #ffffff;
  width: 5px;
  height: 12px;
  border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: fadeG;
  -o-animation-name: fadeG;
  -ms-animation-name: fadeG;
  -webkit-animation-name: fadeG;
  -moz-animation-name: fadeG;
  animation-duration: 0.832s;
  -o-animation-duration: 0.832s;
  -ms-animation-duration: 0.832s;
  -webkit-animation-duration: 0.832s;
  -moz-animation-duration: 0.832s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
#rotateG_01 {
  left: 0;
  top: 14px;
  animation-delay: 0.3095s;
  -o-animation-delay: 0.3095s;
  -ms-animation-delay: 0.3095s;
  -webkit-animation-delay: 0.3095s;
  -moz-animation-delay: 0.3095s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#rotateG_02 {
  left: 4px;
  top: 5px;
  animation-delay: 0.416s;
  -o-animation-delay: 0.416s;
  -ms-animation-delay: 0.416s;
  -webkit-animation-delay: 0.416s;
  -moz-animation-delay: 0.416s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
#rotateG_03 {
  left: 13px;
  top: 1px;
  animation-delay: 0.5225s;
  -o-animation-delay: 0.5225s;
  -ms-animation-delay: 0.5225s;
  -webkit-animation-delay: 0.5225s;
  -moz-animation-delay: 0.5225s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
#rotateG_04 {
  right: 4px;
  top: 5px;
  animation-delay: 0.619s;
  -o-animation-delay: 0.619s;
  -ms-animation-delay: 0.619s;
  -webkit-animation-delay: 0.619s;
  -moz-animation-delay: 0.619s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
#rotateG_05 {
  right: 0;
  top: 14px;
  animation-delay: 0.7255s;
  -o-animation-delay: 0.7255s;
  -ms-animation-delay: 0.7255s;
  -webkit-animation-delay: 0.7255s;
  -moz-animation-delay: 0.7255s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#rotateG_06 {
  right: 4px;
  bottom: 3px;
  animation-delay: 0.832s;
  -o-animation-delay: 0.832s;
  -ms-animation-delay: 0.832s;
  -webkit-animation-delay: 0.832s;
  -moz-animation-delay: 0.832s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}
#rotateG_07 {
  bottom: 0;
  left: 13px;
  animation-delay: 0.9385s;
  -o-animation-delay: 0.9385s;
  -ms-animation-delay: 0.9385s;
  -webkit-animation-delay: 0.9385s;
  -moz-animation-delay: 0.9385s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#rotateG_08 {
  left: 4px;
  bottom: 3px;
  animation-delay: 1.035s;
  -o-animation-delay: 1.035s;
  -ms-animation-delay: 1.035s;
  -webkit-animation-delay: 1.035s;
  -moz-animation-delay: 1.035s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}
@keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
.vl-header {
  background-color: #171d27;
  color: #ffffff;
  padding: 1em;
}
.app-detail {
  font-size: 2em;
}
.vl-select {
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  font-weight: 300;
  padding: 0.4em 0.6em;
  font-size: 0.9em;
  color: #c1c3c5;
  box-shadow: none;
  min-width: 90px;
  width: 100%;
  display: block;
  white-space: normal;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#6b6b6b'><polygon points='0,0 100,0 50,50'/></svg>");
  background-size: 9px;
  background-position: calc(100% - 8px) 14px;
  background-repeat: no-repeat;
  outline: 0;
}
.vl-select:active,
.vl-select:focus {
  box-shadow: none;
}
.vl-select.select-variant,
.vl-select.border-bottom {
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 0.3em;
}
.vl-select.nav-color {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
}
.vl-select.ng-dirty,
.vl-select.ng-valid {
  color: #000;
  font-weight: 400;
  font-size: 0.85em;
}
.vl-textarea,
.vl-text {
  background-color: #fff;
  width: 100%;
  border: 1px solid #eeeeeebd;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.85em;
  color: #8d8e8f;
  resize: none;
}
.vl-textarea::-webkit-input-placeholder,
.vl-text::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea::-moz-placeholder,
.vl-text::-moz-placeholder {
  /* Firefox 19+ */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:-ms-input-placeholder,
.vl-text:-ms-input-placeholder {
  /* IE 10+ */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:-moz-placeholder,
.vl-text:-moz-placeholder {
  /* Firefox 18- */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:active,
.vl-text:active,
.vl-textarea:focus,
.vl-text:focus {
  outline: 0;
}
.title-label {
  display: block;
  font-size: 1.05em;
  font-weight: 400;
  margin: 0.8em 0;
}
.form-label {
  font-weight: 400;
  color: #9b9ea0;
  font-size: 1.1em;
}
.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.16);
}
.toggle__check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.toggle__check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #32bbb4;
}
.toggle__check:checked ~ .switch {
  right: 2px;
  left: 22px;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
          transition-property: left, right;
  -webkit-transition-delay: .05s, 0s;
          transition-delay: .05s, 0s;
}
.float-label {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateY(1.6em);
      -ms-transform: translateY(1.6em);
          transform: translateY(1.6em);
  display: inline-block;
  cursor: text;
  font-size: 1.05em;
  color: #000;
  font-weight: 400;
}
.float-label.filled {
  -webkit-transform: translateY(0.5em);
      -ms-transform: translateY(0.5em);
          transform: translateY(0.5em);
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 3px;
}
.float-label.lab-color {
  color: #4a4a4a;
}
.float-label.focused {
  color: #9b9ea0;
}
.float-input {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 1em;
}
.float-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.float-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
input[type="checkbox"].toggle__check {
  width: inherit;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #d8d8d8;
  border-radius: 36px;
  z-index: 1;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
          transition-property: left, right;
  -webkit-transition-delay: 0s, .05s;
          transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.82);
}
.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: inset 0 0 0 2px rgba(202, 199, 199, 0.11);
  border-radius: 40px;
}
.has-error .form-control {
  box-shadow: none;
}
.has-error .form-control:focus {
  box-shadow: none;
}
.ui-select-container .ui-select-search {
  color: #000;
  font-weight: 400;
  font-size: 0.9em;
}
.ui-select-container .ui-select-search:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
}
.ui-select-container .dropdown-menu {
  display: block;
}
.ui-select-container:focus {
  box-shadow: none;
  outline: 0;
}
.ui-select-container .ui-select-choices {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 300px !important;
}
.ui-select-container .ui-select-choices li:last-child .dropdown-item {
  border-bottom: 0;
}
.ui-select-container .ui-select-choices-row.active .dropdown-item > div {
  color: #fff;
}
.ui-select-container .ui-select-choices-row.active .dropdown-item > div b {
  color: #fff;
}
.ui-select-container .ui-select-choices-row > a {
  padding: 8px 20px !important;
  border-bottom: 2px solid #eee;
}
.ui-select-container .dropdown-item > div {
  font-size: 0.85em;
}
.ui-select-container .dropdown-item > div b {
  color: #96999e;
  font-weight: 500;
}
.ui-select-match:focus {
  box-shadow: none;
  outline: 0;
}
.ui-select-match .ui-select-placeholder {
  color: #c1c3c5 !important;
  font-weight: 300;
}
.ui-select-match-text {
  font-size: 0.9em;
  white-space: initial;
}
.ui-select-match-text b {
  color: #7d7d7d;
}
@media screen and (max-width: 480px) {
  .ui-select-match {
    margin: 0.5em 0;
  }
}
.ui-select-match .ui-select-toggle {
  background-color: #fff;
  color: #000;
  font-size: 0.9em;
  border-color: #bbbbbb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ui-select-match .ui-select-toggle .dropdown-toggle {
  color: #696666;
}
.ui-select-match .ui-select-toggle:focus {
  box-shadow: none;
  border-color: transparent;
}
.ui-select-match-text {
  font-weight: 400;
}
.custom-nav {
  border-bottom: 2px solid #eee;
}
.custom-nav .btn {
  font-size: 0.8em;
  padding: 1px 10px;
  border: 1px solid #ddd;
}
.custom-nav .btn:focus {
  outline: 0;
  box-shadow: none;
}
.custom-nav .btn:hover {
  background-color: #eee;
}
.custom-nav .fa {
  position: relative;
  top: -2px;
}
.custom-nav .counts {
  font-size: 0.8em;
}
.content-loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #ffffffd9;
}
.content-loader .fa {
  font-size: 2em;
  color: #4a90e2;
}
.content-loader.d-none {
  display: none !important;
}
.m-t-0 {
  margin-top: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-r-0 {
  margin-right: 0px;
}
.m-l-0 {
  margin-left: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-l-0 {
  padding-left: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.p-t-35 {
  padding-top: 35px;
}
.p-b-35 {
  padding-bottom: 35px;
}
.p-r-35 {
  padding-right: 35px;
}
.p-l-35 {
  padding-left: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.p-t-45 {
  padding-top: 45px;
}
.p-b-45 {
  padding-bottom: 45px;
}
.p-r-45 {
  padding-right: 45px;
}
.p-l-45 {
  padding-left: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-r-50 {
  padding-right: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
.text-primary {
  color: #4a90e2 !important;
}
.text-secondary {
  color: #00b990 !important;
}
.text-danger {
  color: #d0021b !important;
}
.cloud-color {
  color: #fff;
}
.label-color {
  color: #8d8e8f;
}
.vl-shadow {
  box-shadow: 0px 1px 2px 0px rgba(117, 117, 117, 0.5);
}
.primary-link {
  color: #4a90e2;
}
.primary-link:hover,
.primary-link:active,
.primary-link:focus {
  color: #76abe9;
  text-decoration: none;
}
.secondary-link {
  color: #00b990;
}
.secondary-link:hover,
.secondary-link:active,
.secondary-link:focus {
  color: #00ecb8;
  text-decoration: none;
}
.dark-link {
  color: #4a4a4a;
  text-decoration: underline;
}
.dark-link:hover {
  color: #646464;
  text-decoration: none;
}
.no-decor {
  text-decoration: none;
}
.no-decor:hover,
.no-decor:active,
.no-decor:focus {
  text-decoration: none;
}
.text-lighter {
  color: #9b9ea0;
}
.text-darker {
  color: #4a4a4a;
}
.text-color {
  color: #6b6b6b;
}
.grey-darker {
  color: #686565;
}
.highlight-color {
  background-color: #f9f9f9;
}
.thinner {
  font-weight: 100;
}
.lighter {
  font-weight: 300;
}
.heavier {
  font-weight: 500;
}
.text-medium {
  font-weight: 400;
}
.bolder {
  font-weight: 600;
}
.text-inherit {
  color: inherit;
}
.text-decor {
  text-decoration: underline;
}
.text-decor:active,
.text-decor:focus {
  text-decoration: underline;
}
.bat-color {
  color: #000;
}
.label-size {
  font-size: 1.1em;
}
@media screen and (max-width: 650px) {
  .label-size {
    font-size: 0.95em;
  }
}
.stable-size {
  font-size: 1.05em;
}
.full-width {
  width: 100%;
}
.overflow-hidden {
  overflow-x: hidden;
}
.full-overflow {
  overflow: hidden;
}
.disable {
  pointer-events: none;
  opacity: 0.3;
}
.no-pointer {
  pointer-events: none;
}
.word-break {
  word-break: break-word;
  line-height: 1.3;
}
.break-all {
  word-break: break-all;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.no-outline {
  outline: 0;
}
.no-outline:focus,
.no-outline:active {
  outline: 0 !important;
}
@media screen and (min-width: 769px) {
  .ellipsis-desk {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 480px) {
  .link-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-center {
    text-align: center;
  }
  .full-m-width {
    width: 100%;
  }
  .mobile-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.default-size {
  font-size: 1em;
}
.element-title {
  font-size: 1.3em;
}
.blocked {
  overflow: hidden;
  margin-left: 280px;
  position: fixed;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .blocked {
    cursor: pointer;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.offline-mode {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
  height: 100%;
  opacity: 0;
  background-color: rgba(12, 12, 12, 0.5);
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.offline-mode .alert {
  position: fixed;
  background-color: #000;
  border: 0;
  color: #fff;
  border-radius: 0;
  margin: 0 -15px;
  bottom: 0;
  text-align: center;
  padding: 1em;
  font-weight: 300;
  font-size: 0.9em;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.offline-mode.active {
  z-index: 10;
  opacity: 1;
}
.offline-mode.active .alert {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.blackout {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.vl-btn.vl-btn.offline-btn {
  margin-left: 1.5em;
  border-radius: 0;
  background-color: #0e0e0e2e;
  border-color: #fdfcfc63;
  font-size: 0.8em;
  color: #fff;
}
.vl-btn.vl-btn.offline-btn:hover {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .offline-mode .alert {
    font-size: 0.8em;
    text-align: left;
  }
}
.alert-success {
  background-color: #77d79a;
  border-color: #77d79a;
}
@media screen and (max-width: 650px) {
  .alert-success .close {
    background-color: #4dbb77;
  }
}
.alert-failure {
  background-color: #ed6a4e;
  border-color: #ed6a4e;
}
@media screen and (max-width: 650px) {
  .alert-failure .close {
    background-color: #dc4154;
  }
}
@media screen and (max-width: 769px) {
  .mobile-hide {
    display: none !important;
  }
  .pos-fixed {
    position: fixed;
    background-color: #fff;
    z-index: 1041;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;
    bottom: 0;
  }
  .filterBy .mobile-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .desk-hide {
    display: none !important;
  }
}
.white-box {
  background-color: #fff;
}
.gray-border {
  border: 1px solid #d8d8d8;
}
.scale-down {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.editable {
  background-color: #eee;
}
.tooltip {
  font-size: 0.65em;
}
.ui-select-choices-row > a {
  white-space: normal !important;
}
/*# sourceMappingURL=styles.css.map */