
// ---------------------------
// MISCELLANEOUS STYLES GOES HERE -----------
// ---------------------------


// custom Dropdown 

.ui-select-container{
	.ui-select-search{
		&:focus{
			outline: 0;
			box-shadow: none;
			border-color: transparent;
		}
	}
	.dropdown-menu{
		display: block;
	}
	&:focus{
		box-shadow: none;
		outline: 0;
	}
	.ui-select-choices-row{
		&.active{
			.dropdown-item{
				& > div{
		    		color: #fff;
				}
			}
		}
	}
	.dropdown-item{
		& > div{
			font-size: 0.9em;
    		color: #7d7d7d;
		}
	}
}

.ui-select-match{
	&:focus{
		box-shadow: none;
		outline: 0;
	}
}

.ui-select-match .ui-select-toggle{
	background-color: #fff;
	color: #000;
	font-size: 0.95em;
	.dropdown-toggle{
		color: #696666;
	}
	&:focus{
		box-shadow: none;
		border-color: transparent;
	}
}
