// ---------------------------
// SMS APP -----------
// ---------------------------

@import '_var';


// Top filter select

.vl-participant{
	background-color: #f8fafb;
    border: 1px solid #dfe7ed;
	&__filter{
		background-color: #edf0f3;
	    padding: 1.5em 0;
	}	
}

.show-participant{
	font-size: 0.85em;
	padding: 0.4em 1.5em;
}

// No data

.no-data{
	min-height: 70vh;
	padding-bottom: 0 !important;
}

.empty-box{
	.fa{
		font-size: 6em;
		color: #a5b6c7;
    	margin-bottom: 0.5em;
	}
}

.results-header{
	&__details{
		color: @grey-text;
		font-size: 0.9em;
	}
	.date-range{
		&:before{
			content: '';
			display: inline-block;
		    width: 4px;
		    height: 4px;
		    background-color: @grey-text;
		    border-radius: 50%;
		    position: relative;
		    vertical-align: middle;
		    margin-right: 5px;
		}
	}
}

.result--title{
	font-size: 1.4em;
}

.send-message{
	.vl-btn{
		font-size: 0.85em;
		padding: 0.4em 1em;
	}
}


// Dropdown tag name class

main-dropdowns{
	width: 100%;
    padding: 0 15px;
}


.external-link{
	color: #2d7ace;
}


.login-holder{
	min-height: 90vh;
    background-color: #f8fafb;
}

.form-signin{
	padding: 2.5em;
	width: 450px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	&__title{
		font-size: 1.25em;
	    text-transform: capitalize;
	    margin: -41px -41px 0 -41px;
	    margin-bottom: 1em;
	    padding: 15px;
	    background-color: #171d27;
	    color: #fff;
	}
	.login-card{
		padding-top: 1em;
	}
	.vl-text{
		background-color: #fff;
	    padding: 10px;
	    border-radius: 0;
	    border: 1px solid #cacaca;
    	margin-bottom: 1em;
    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	      color: #b9b9b9;
	    }
	    &::-moz-placeholder { /* Firefox 19+ */
	      color: #b9b9b9;
	    }
	    &:-ms-input-placeholder { /* IE 10+ */
	      color: #b9b9b9;
	    }
	    &:-moz-placeholder { /* Firefox 18- */
	      color: #b9b9b9;
	    }
	}
	.remember{
		input[type='checkbox']{
			&:before{
				top: -12px;
			}
		}
	}
	.vl-btn{
		padding: 0.6em;
    	border-radius: 0;
	}
}

@media screen and (max-width: @tab){
	.form-signin{
		width: auto;
	}
}

@media screen and (max-width: @mobile){
	.form-signin{
		margin-top: 3em;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02), 0 5px 5px 0 rgba(0, 0, 0, 0.11);
		&__title{
			font-size: 1.1em;
		}
	}
	.login-holder{
		min-height: auto;
	}	
}









@media screen and (max-width: @mobile){
	.no-data{
		min-height: 60vh;
		padding: 0 !important;
	}
	.empty-box{
		.fa{
			font-size: 3em;
		}
	}
	.app-detail{
		margin: 0.5em 0;
    	font-size: 1.5em;
	}
	.result--title{
		font-size: 1.25em;
	}
}
@media screen and (max-width: 360px){
	.no-data{
		min-height: 50vh;
	}
}

@media screen and (min-width: @mobile) and (max-width: @tab){
	.vl-participants__data{
		flex-direction: column;
	}
	.passenger-data,.compose-msg{
		max-width: 100%;
	}
}








