<header class="vl-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center align-self-center">
          <h5 class="vl-logo m-b-0"><img src="./assets/img/logo.png" width="180"></h5>
        </div>
        <div class="col-sm-4 text-center align-self-center">
          <div class="app-detail thinner">
            <i class="fa fa-commenting" aria-hidden="true"></i>
            SMS App
          </div>
        </div>
        <div class="col-sm-4 text-center align-self-center">
          <a href="#" class="back-link cloud-color thinner"><i class="fa fa-angle-left p-r-5 label-size" aria-hidden="true"></i> Back to the app</a>
        </div>
      </div>
    </div>
  </header>

  <div class="container vl-participant">
      <div class="row vl-participant__filter">
        <main-dropdowns [frompage]="route.routeConfig.path" [tripid]="tripId" [departureid]="departureId" (onOutput)="initDatatable($event)" (onError)="checkError($event)" (loadingParticipants)="setParticipantLoader()">
        </main-dropdowns>
      </div>

  </div>
