// ---------------------------
// HELPERS STYLES -----------
// ---------------------------


// ---------------------------
// MISCELLANEOUS STYLES IMPORT -----------
// ---------------------------

@import "_misc";

// .container{
//   @media screen and (min-width: 1500px) {
//     width: 1300px;
//   }
//   @media screen and (min-width: 1650px){
//     width: 1600px;
//   }
//   &.default-container{
//     @media screen and (min-width: 1500px) {
//       width: 1300px;
//     }
//   }
// }


// Margin/Padding classes
// -------------------------

@from : 0;
@to : 50;

.loop(@index) when(@index =< @to) {
  .m-t-@{index} {
    margin-top: unit(@index, px);
  }
  .m-b-@{index} {
    margin-bottom: unit(@index, px);
  }
  .m-r-@{index} {
    margin-right: unit(@index, px);
  }
  .m-l-@{index} {
    margin-left: unit(@index, px);
  }
  .p-t-@{index} {
    padding-top: unit(@index, px);
  }
  .p-b-@{index} {
    padding-bottom: unit(@index, px);
  }
  .p-r-@{index} {
    padding-right: unit(@index, px);
  }
  .p-l-@{index} {
    padding-left: unit(@index, px);
  }
  .loop(@index + 5);
}
.loop(@from);


//Utility classes


.text-primary{
  color: @accent-primary !important; //!important coz BS-4 has it
}

.text-secondary{
  color: @accent-secondary !important;
}

.text-danger{
  color: @danger !important;
}

.cloud-color{
  color: #fff;
}

.label-color{
  color: @grey-text;
}

.vl-shadow{
  box-shadow: 0px 1px 2px 0px rgba(117, 117, 117, 0.5);
}

.primary-link{
  color: @accent-primary;
  &:hover,&:active,&:focus{
    color: lighten(@accent-primary,10%);
    text-decoration: none;
  }
}

.secondary-link{
  color: @accent-secondary;
  &:hover,&:active,&:focus{
    color: lighten(@accent-secondary,10%);
    text-decoration: none;
  }
}
.dark-link{
  color: @text-darker;
  text-decoration: underline;
  &:hover{
    color: lighten(@text-darker,10%);
    text-decoration: none;
  }
}


.no-decor{
  text-decoration: none;
  &:hover,&:active,&:focus{
    text-decoration: none;
  }
}

.text-lighter{
  color: @text-lighter;
}

.text-darker{
  color: @text-darker;
}

.text-color{
  color: @text-color;
}

.grey-darker{
  color: @grey-darker;
}

.highlight-color{
  background-color: @highlight;
}

.thinner{
  font-weight: 100;
}

.lighter{
  font-weight: 300;
}

.heavier{
  font-weight: 500;
}

.text-medium{
  font-weight: 400;
}

.bolder{
  font-weight: 600;
}

.text-inherit{
  color: inherit;
}

.text-decor{
  text-decoration: underline;
  &:active,&:focus{
    text-decoration: underline;
  }
}

.bat-color{
  color: #000;
}


.label-size{
  font-size: 1.1em;
  @media screen and (max-width: 650px){
    font-size: 0.95em;
  }
}



.stable-size{
  font-size: 1.05em;
}

.full-width{
  width: 100%;
}

.overflow-hidden{
  overflow-x: hidden;
}

.full-overflow{
  overflow: hidden;
}


.disable{
    pointer-events: none;
    opacity: 0.3;
}

.no-pointer{
  pointer-events: none;
}

.word-break{
  word-break: break-word;
  line-height: 1.3;
}

.break-all{
  word-break: break-all;
}


.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-outline{
  outline: 0;
  &:focus,&:active{
    outline: 0 !important;
  }
}

@media screen and (min-width: 769px){
  .ellipsis-desk{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
  


.ellipsis-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: @mobile){
   .link-center{
      display: flex;
      justify-content: center;
  }
  .mobile-center{
    text-align: center;
  }
  .full-m-width{
    width: 100%;
  }
  .mobile-column{
    flex-direction: column;
  }
}



.default-size{
  font-size: 1em;
}

.element-title{
  font-size: 1.3em;
}



.blocked{
  overflow: hidden;
  margin-left: 280px;
  position: fixed;
  // safari fix
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    cursor: pointer;
  }
}


.cursor-pointer{
  cursor: pointer;
}


.relative{
  position: relative;
}


.offline-mode{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    height: 100%;
    opacity: 0;
    background-color: rgba(12, 12, 12, 0.5);
    transition: all 0.5s ease;
    .alert{
      position: fixed;
      background-color: #000;
      border: 0;
      color: #fff;
      border-radius: 0;
      margin: 0 -15px;
      bottom: 0;
      text-align: center;
      padding: 1em;
      font-weight: 300;
      font-size: 0.9em;
    }
    &.active{
      z-index: 10;
      opacity: 1;
    }
}

.vl-btn.vl-btn.offline-btn{
    margin-left: 1.5em;
    border-radius: 0;
    background-color: #0e0e0e2e;
    border-color: #fdfcfc63;
    font-size: 0.8em;
    color: #fff;
    &:hover{
      color: #fff;
    }
}

@media screen and (max-width: @mobile){
  .offline-mode{
    .alert{
      font-size: 0.8em;
      text-align: left;
    }
  }
}


.alert-success{
  background-color: #77d79a;
  border-color: #77d79a;
  @media screen and (max-width: 650px){
    .close{
      background-color: #4dbb77;
    }
  }
}

.alert-failure{
  background-color: #ed6a4e;
  border-color: #ed6a4e;
  @media screen and (max-width: 650px){
    .close{
      background-color: #dc4154;
    }
  }
}


@media screen and (max-width: @tab){
  .mobile-hide{
    display: none !important;
  }
  .pos-fixed{
    position: fixed;
    background-color: #fff;
    z-index: 1041;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;
    bottom: 0;
  }
  .filterBy{
    .mobile-bottom{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: @tab){
  .desk-hide{
    display: none !important;
  }
}

.white-box{
  background-color: #fff;
}

.gray-border{
  border: 1px solid @grey-lighter;
}

.scale-down{
  transform: scale(0.6);
}

.editable{
  background-color: #eee;
}


.tooltip{
  font-size: 0.65em;
}

