<div class="row vl-participant__filter">
		<div class="col-sm-4">
			<select class="vl-select" placeholder="Select a tour" [(ngModel)]="tripid" (change)="updateDepartures()" [disabled]="trips.length == 0">
				<option value="" disabled="true" [selected]="!tripid">Select a tour</option>
				<option *ngFor="let option of trips" [value]="option.id">{{option.code}} - {{option.name}}</option>
			</select>
		</div>
		<div class="col-sm-4">
			<select class="vl-select departure" placeholder="Select a departure" [(ngModel)]="departureid" [disabled]="departures.length == 0">
				<option value="" disabled="true" [selected]="!departureid">Select a departure</option>
				<option *ngFor="let option of departures" [value]="option.departure_id">{{option.starts_at | amParse: dateFormat | amDateFormat:'DD MMM' }} - {{option.ends_at | amParse: dateFormat | amDateFormat:'DD MMM' }}</option>
			</select>
		</div>
		<div class="col-sm-3 filter-action">
			<button [disabled]="!departureid" (click)="triggerOutput()" type="button" class="btn vl-btn primary-btn text-uppercase lighter show-participant">Show Participants</button>
		</div>
	</div>
