<div class="row vl-participant__filter">
		<div class="col-sm-4">
			<select class="vl-select">
				<option>Select a tour</option>
				<option>Little Rann of Kutch</option>
				<option>Little Rann of Kutch</option>
				<option>Little Rann of Kutch</option>
			</select>
		</div>
		<div class="col-sm-4">
			<select class="vl-select departure">
				<option>Select a departure</option>
				<option>Little Rann of Kutch</option>
				<option>Little Rann of Kutch</option>
				<option>Little Rann of Kutch</option>
			</select>
		</div>
		<div class="col-sm-3 filter-action">
			<button (click)="triggerOutput()" type="button" class="btn vl-btn primary-btn text-uppercase lighter show-participant">Show Participants</button>
		</div>
	</div>
