<div class="row vl-participant__filter">
		<div class="col-sm-4">
			<!-- <select class="vl-select" placeholder="Select a tour" [(ngModel)]="tripid" (change)="updateDepartures()" [disabled]="trips.length == 0 || tripError != ''">
				<option value="" disabled="true" *ngIf="!tripError" [selected]="!tripid">Select a tour</option>
				<option value="" disabled="true" *ngIf="tripError" [selected]="tripError != ''">No trip found</option>
				<option *ngFor="let option of trips" [value]="option.id">{{option.code}} - {{option.name}}</option>
			</select> -->

			<ng-select
						[items]="trips"
						[active]="activeTrip"
						[disabled]="trips.length == 0 || tripError != ''"
						(data)="refreshValue($event)"
						(selected)="tripSelected($event)"
						(removed)="removed($event)"
						(typed)="typed($event)"
						[placeholder]="tripError ? 'No trip found' : 'Select a tour'">
			</ng-select>
		</div>
		<div class="col-sm-4">
			<!-- <select class="vl-select departure" placeholder="Select a departure" [(ngModel)]="departureid" (change)="onDepartureUpdate()" [disabled]="departures.length == 0 || departureError != ''">
				<option value="" disabled="true" *ngIf="!departureError" [selected]="departureid == ''">Select a departure</option>
				<option value="" disabled="true" *ngIf="departureError" [selected]="departureError != ''">No departure found</option>
				<option *ngFor="let option of departures" [value]="option.departure_id">{{option.starts_at | amParse: dateFormat | amDateFormat:'DD MMM' }} - {{option.ends_at | amParse: dateFormat | amDateFormat:'DD MMM' }}</option>
			</select> -->

			<ng-select
						showSearchInputInDropdown="false"
						[items]="departures"
						[active]="activeDeparture"
						[disabled]="departures.length == 0 || departureError != ''"
						(selected)="depSelected($event)"
						[placeholder]="departureError ? 'No departure found' : 'Select a departure'">
			</ng-select>
		</div>
		<div class="col-sm-4 filter-action" [hidden]="exactPath == 'sms-notifications'">
			<button [disabled]="!departureid" (click)="triggerOutput()" type="button" class="btn vl-btn primary-btn text-uppercase lighter show-participant">Show Participants</button>
		</div>
	</div>
