html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  font-family: 'Roboto', sans-serif;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: inherit;
}
a:focus,
a:active {
  outline: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.3em;
}
p {
  font-size: 1.1em;
}
span {
  font-size: 0.95em;
}
.x-small {
  font-size: 0.9em;
}
.xx-small {
  font-size: 0.75em;
}
.xxx-small {
  font-size: 0.6em;
}
.vl-btn {
  font-size: 0.9em;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid;
  padding: 0.35em 1em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.22);
}
.vl-btn.outline {
  background-color: #fff;
  color: #4a90e2;
  border: 1px solid;
}
.vl-btn.outline:hover,
.vl-btn.outline:active {
  background-color: #4a90e2;
  color: #fff;
  border: 2px solid;
}
.vl-btn.s-outline {
  background-color: #fff;
  color: #00b990;
  border: 1px solid;
}
.vl-btn.s-outline:hover,
.vl-btn.s-outline:active {
  background-color: #00b990;
  color: #fff;
  border: 2px solid;
}
.vl-btn.half-border {
  border-bottom: 2px solid;
}
.vl-btn.half-border:hover {
  border: 1px solid;
  border-bottom: 2px solid;
}
.vl-btn.border-btn {
  border: 2px solid;
}
.vl-btn.mini {
  padding: 6px 20px;
}
.vl-btn.primary-btn {
  background-color: #4a90e2;
  color: #fff;
  border-color: #4a90e2;
}
.vl-btn.primary-btn:hover {
  background-color: #fff;
  color: #4a90e2;
  border: 1px solid;
}
.vl-btn.secondary-btn {
  background-color: #00b990;
  color: #fff;
  border-color: #00b990;
}
.vl-btn.secondary-btn:hover {
  background-color: #fff;
  color: #00b990;
  border: 1px solid;
}
.vl-btn.danger-btn {
  background-color: #d0021b;
  color: #fff;
  border-color: #d0021b;
}
.vl-btn.danger-btn:hover {
  background-color: #fff;
  color: #d0021b;
  border: 1px solid;
}
.vl-btn.full {
  padding: 0.85em 1.8em;
}
.vl-btn:active,
.vl-btn:focus {
  box-shadow: none;
  outline: 0;
}
.vl-btn.bnw {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  text-decoration: none;
}
.vl-btn.grey {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
.vl-btn.grey:hover,
.vl-btn.grey:active {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
.vl-btn.fullwidth {
  display: block;
  width: 100%;
}
.vl-btn.no-border {
  border: 0;
  background-color: transparent;
}
.vl-btn.no-border:hover,
.vl-btn.no-border:active {
  background-color: transparent;
  border: 0;
  color: #4a90e2;
}
.vl-btn.alternate {
  background-color: #159f70;
  color: #fff;
  border: 2px solid #159f70;
}
.vl-btn.alternate:hover {
  background-color: transparent;
  color: #159f70;
}
.vl-btn.white-border {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.vl-btn.link-btn.btn.link-btn {
  background-color: transparent;
  color: #4a90e2;
  border: 0;
  box-shadow: none;
}
.vl-btn.link-btn.btn.link-btn:hover {
  background-color: transparent;
  color: #76abe9;
  border: 0;
}
.vl-btn.medium-btn {
  padding: 0.5em 1.5em;
}
.social-btn {
  padding: 0.8em 2em;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.social-btn.fb {
  background-color: #3b5998;
}
.social-btn.google {
  background-color: #ec2c2c;
}
.social-btn:hover {
  color: #fff;
  text-decoration: none;
}
.social-btn i {
  position: absolute;
  left: 10px;
  font-size: 1.35em;
}
.fnb-breadcrums__section {
  padding-left: 0;
  padding-right: 0.6em;
}
.fnb-breadcrums .home-icon {
  font-size: 1.15em;
  color: #6b6b6b;
}
.fnb-breadcrums__title {
  margin-bottom: 0;
  color: #6b6b6b;
  font-weight: 300;
}
.status-label {
  padding: 0.3em 0.6em;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8em;
}
.status-label.confirmed {
  background-color: #11a44a;
}
.status-label.pending,
.status-label.unconfirmed {
  background-color: #f19333;
}
input[type=checkbox] {
  margin-right: 8px;
  margin-top: 2px;
  -webkit-appearance: none;
  outline: 0;
  width: 15px;
  position: relative;
}
input[type=checkbox]:before {
  content: "";
  padding: 0;
  position: absolute;
  left: 0;
  color: #dcdcdc;
  font-size: 1.35em;
  cursor: pointer;
  background-image: url('assets/img/checkbox.png');
  background-size: cover;
  top: 0;
  width: 15px;
  height: 15px;
  text-align: center;
}
input[type=checkbox]:checked:before {
  background-image: url('assets/img/checkbox-checked.png');
  background-size: initial;
}
input[type=checkbox].disable {
  pointer-events: none;
  opacity: 0.4;
}
input[type=checkbox]:focus {
  outline: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  input[type=checkbox] {
    border: 0;
  }
  input[type=checkbox]:before {
    font-size: 1.5em;
  }
}
input[type=radio].fnb-radio {
  margin-right: 8px;
  position: relative;
}
input[type=radio].fnb-radio:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  background-color: #fff;
  padding: 0;
  position: absolute;
  top: -4px;
  left: -1px;
  color: #dcdcdc;
  font-size: 1.5em;
  cursor: pointer;
}
input[type=radio].fnb-radio:checked:before {
  content: "\f192";
  color: #00b990;
}
input[type=radio].fnb-radio.disabled {
  pointer-events: none;
}
input[type=radio].fnb-radio.disabled:before {
  content: '\f10c';
  color: #ccc;
}
@-webkit-keyframes loading {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes loading {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.site-loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  background-color: rgba(255, 255, 255, 0.88);
  color: #4a90e2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4em;
}
.site-loader.section-loader {
  position: absolute;
  z-index: 11;
}
@media screen and (max-width: 650px) {
  .site-loader.section-loader {
    position: fixed;
    z-index: 2;
  }
}
@media screen and (max-width: 650px) {
  .tab-pane .section-loader {
    position: absolute;
  }
}
#floatingBarsG {
  position: relative;
  width: 31px;
  height: 38px;
  margin: auto;
}
.blockG {
  position: absolute;
  background-color: #ffffff;
  width: 5px;
  height: 12px;
  border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: fadeG;
  -o-animation-name: fadeG;
  -ms-animation-name: fadeG;
  -webkit-animation-name: fadeG;
  -moz-animation-name: fadeG;
  animation-duration: 0.832s;
  -o-animation-duration: 0.832s;
  -ms-animation-duration: 0.832s;
  -webkit-animation-duration: 0.832s;
  -moz-animation-duration: 0.832s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
#rotateG_01 {
  left: 0;
  top: 14px;
  animation-delay: 0.3095s;
  -o-animation-delay: 0.3095s;
  -ms-animation-delay: 0.3095s;
  -webkit-animation-delay: 0.3095s;
  -moz-animation-delay: 0.3095s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#rotateG_02 {
  left: 4px;
  top: 5px;
  animation-delay: 0.416s;
  -o-animation-delay: 0.416s;
  -ms-animation-delay: 0.416s;
  -webkit-animation-delay: 0.416s;
  -moz-animation-delay: 0.416s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
#rotateG_03 {
  left: 13px;
  top: 1px;
  animation-delay: 0.5225s;
  -o-animation-delay: 0.5225s;
  -ms-animation-delay: 0.5225s;
  -webkit-animation-delay: 0.5225s;
  -moz-animation-delay: 0.5225s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
#rotateG_04 {
  right: 4px;
  top: 5px;
  animation-delay: 0.619s;
  -o-animation-delay: 0.619s;
  -ms-animation-delay: 0.619s;
  -webkit-animation-delay: 0.619s;
  -moz-animation-delay: 0.619s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
#rotateG_05 {
  right: 0;
  top: 14px;
  animation-delay: 0.7255s;
  -o-animation-delay: 0.7255s;
  -ms-animation-delay: 0.7255s;
  -webkit-animation-delay: 0.7255s;
  -moz-animation-delay: 0.7255s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#rotateG_06 {
  right: 4px;
  bottom: 3px;
  animation-delay: 0.832s;
  -o-animation-delay: 0.832s;
  -ms-animation-delay: 0.832s;
  -webkit-animation-delay: 0.832s;
  -moz-animation-delay: 0.832s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}
#rotateG_07 {
  bottom: 0;
  left: 13px;
  animation-delay: 0.9385s;
  -o-animation-delay: 0.9385s;
  -ms-animation-delay: 0.9385s;
  -webkit-animation-delay: 0.9385s;
  -moz-animation-delay: 0.9385s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#rotateG_08 {
  left: 4px;
  bottom: 3px;
  animation-delay: 1.035s;
  -o-animation-delay: 1.035s;
  -ms-animation-delay: 1.035s;
  -webkit-animation-delay: 1.035s;
  -moz-animation-delay: 1.035s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}
@keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes fadeG {
  0% {
    background-color: #ff930f;
  }
  100% {
    background-color: #ffffff;
  }
}
.vl-header {
  background-color: #171d27;
  color: #ffffff;
  padding: 1em;
}
.app-detail {
  font-size: 2em;
}
.vl-select {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.4em 0.6em;
  font-size: 0.9em;
  color: #6b6b6b;
  box-shadow: none;
  min-width: 90px;
  width: 100%;
  display: block;
  white-space: normal;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  outline: 0;
}
.vl-select:active,
.vl-select:focus {
  box-shadow: none;
}
.vl-select.select-variant,
.vl-select.border-bottom {
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 0.3em;
}
.vl-select.nav-color {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
}
.vl-textarea,
.vl-text {
  background-color: #fff;
  width: 100%;
  border: 1px solid #eeeeeebd;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.85em;
  color: #8d8e8f;
  resize: none;
}
.vl-textarea::-webkit-input-placeholder,
.vl-text::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea::-moz-placeholder,
.vl-text::-moz-placeholder {
  /* Firefox 19+ */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:-ms-input-placeholder,
.vl-text:-ms-input-placeholder {
  /* IE 10+ */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:-moz-placeholder,
.vl-text:-moz-placeholder {
  /* Firefox 18- */
  color: #cacaca;
  font-weight: 300;
}
.vl-textarea:active,
.vl-text:active,
.vl-textarea:focus,
.vl-text:focus {
  outline: 0;
}
.fnb-input,
.fnb-textarea {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  font-size: 1.05em;
  padding-left: 0;
  color: #6b6b6b;
}
.fnb-input:active,
.fnb-textarea:active,
.fnb-input:focus,
.fnb-textarea:focus {
  border: 0;
  border-color: inherit;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
.fnb-input::-webkit-input-placeholder,
.fnb-textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
}
.fnb-input::-moz-placeholder,
.fnb-textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
}
.fnb-input:-ms-input-placeholder,
.fnb-textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
}
.fnb-input:-moz-placeholder,
.fnb-textarea:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
}
.title-label {
  display: block;
  font-size: 1.05em;
  font-weight: 400;
  margin: 0.8em 0;
}
.form-label {
  font-weight: 400;
  color: #9b9ea0;
  font-size: 1.1em;
}
.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.16);
}
.toggle__check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.toggle__check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #32bbb4;
}
.toggle__check:checked ~ .switch {
  right: 2px;
  left: 22px;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
          transition-property: left, right;
  -webkit-transition-delay: .05s, 0s;
          transition-delay: .05s, 0s;
}
.multiselect.multiselect {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding-left: 0;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  color: #6b6b6b;
  box-shadow: none;
}
.multiselect.multiselect:active,
.multiselect.multiselect:hover {
  background-color: #ddd;
  box-shadow: none;
}
.multiselect.multiselect:active:hover,
.multiselect.multiselect:hover:hover {
  background-color: transparent;
}
.multiselect.multiselect.dropdown-toggle {
  box-shadow: none;
  background-color: transparent !important;
}
.multiselect-native-select .btn-group {
  width: 100%;
}
.multiselect-native-select .btn-group.open .multiselect {
  border-color: transparent;
}
.multiselect-selected-text {
  font-size: 1.05em;
  color: #6b6b6b;
}
.multiselect-container {
  border-radius: 0;
  padding: 0.5em;
}
.multiselect-container > li {
  margin-bottom: 0.5em;
}
.multiselect-container > li:last-child {
  margin-bottom: 0;
}
.multiselect-container > li.active a,
.multiselect-container > li.active a:hover {
  color: #000;
  background-color: transparent;
  font-weight: 500;
}
.multiselect-container > li > a {
  font-size: 0.95em;
  color: #6b6b6b;
  outline: 0;
}
.multiselect-container > li > a:hover {
  background-color: transparent;
}
.multiselect-container > li > a label {
  padding-left: 1.5em;
}
.float-label {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateY(1.6em);
      -ms-transform: translateY(1.6em);
          transform: translateY(1.6em);
  display: inline-block;
  cursor: text;
  font-size: 1.05em;
  color: #000;
  font-weight: 400;
}
.float-label.filled {
  -webkit-transform: translateY(0.5em);
      -ms-transform: translateY(0.5em);
          transform: translateY(0.5em);
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 3px;
}
.float-label.lab-color {
  color: #4a4a4a;
}
.float-label.focused {
  color: #9b9ea0;
}
.float-input {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 1em;
}
.float-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.float-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
input[type="checkbox"].toggle__check {
  width: inherit;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #d8d8d8;
  border-radius: 36px;
  z-index: 1;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition-property: left, right;
          transition-property: left, right;
  -webkit-transition-delay: 0s, .05s;
          transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.82);
}
.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: inset 0 0 0 2px rgba(202, 199, 199, 0.11);
  border-radius: 40px;
}
.has-error .form-control {
  box-shadow: none;
}
.has-error .form-control:focus {
  box-shadow: none;
}
.arrow_box {
  position: relative;
  background: #27b7b0;
  border: 2px solid #27b7b0;
}
.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(39, 183, 176, 0);
  border-left-color: #27b7b0;
  border-width: 8px;
  margin-top: -8px;
}
.arrow_box:before {
  border-color: rgba(39, 183, 176, 0);
  border-left-color: #27b7b0;
  border-width: 11px;
  margin-top: -11px;
}
.confirmation-content {
  font-size: 1em;
}
.form-disabled {
  pointer-events: none;
}
.popover.confirmation {
  pointer-events: auto;
}
.sign-up-row .float-label,
.require-modal .float-label,
.sign-up-row .fnb-select,
.require-modal .fnb-select {
  color: rgba(0, 0, 0, 0.72);
  font-weight: 500;
}
.contact-mobile-input {
  padding-bottom: 0;
}
.add-number .intl-tel-input.separate-dial-code .selected-dial-code {
  padding-left: 10px;
}
.sign-up-row .float-label {
  font-size: 1em;
  font-weight: 500;
}
.sign-up-row .float-label.filled {
  font-size: 0.85em;
}
.sign-up-row .fnb-select {
  padding-left: 0;
  font-size: 1em;
}
.sign-up-row .form-group {
  margin: 0.8em 0;
}
.sign-up-row .form-group.phoneNumber {
  margin: 0 0 0.8em 0;
}
.sign-up-row .form-group.city,
.sign-up-row .form-group.area {
  margin: 1.5em 0;
}
.sign-up-row .form-group.describe-section {
  margin-bottom: 0;
}
.describe-section__title {
  color: rgba(0, 0, 0, 0.72);
  margin-bottom: 0.5em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .describe-section__title {
    font-size: 1.03em;
  }
}
.describe-section .points {
  margin: 0.5em 0;
}
.describe-section .points .checkbox:before {
  top: -10px;
  font-size: 1.15em;
}
@media screen and (max-width: 480px) {
  .describe-section .points .checkbox:before {
    background-color: #f8f8f8;
    color: #afafaf;
  }
}
.describe-section .points .checkbox:checked:before {
  color: #00b990;
}
.describe-section .points__text {
  font-size: 0.95em;
  color: #6b6b6b;
}
.number-code {
  margin-top: 5px;
}
.number-code input {
  padding-top: 0;
  font-size: 1em;
}
.number-code__region {
  width: 10%;
  outline: 0;
  border-right: 1px solid #efefef;
  padding-right: 0px;
}
.number-code__region:focus,
.number-code__region:active {
  border-right: 1px solid #efefef;
}
.number-code__value {
  padding-left: 10px;
}
.select-required {
  position: relative;
}
.select-required:after {
  position: absolute;
  top: 8px;
  right: -10px;
}
.describe-best + .btn-group .multiselect-selected-text {
  color: #5a5a5a;
}
.describe-best + .btn-group .multiselect-container {
  padding: 0.5em 0;
}
.describe-best + .btn-group .multiselect-container label.checkbox {
  padding: 5px 28px 4px 28px;
}
.describe-best + .btn-group .multiselect-container label.checkbox input[type='checkbox'] {
  margin-right: 6px;
  position: relative;
}
.describe-best + .btn-group .multiselect-container label.checkbox input[type='checkbox']:before {
  top: -7px;
}
.register-holder {
  background-color: rgba(238, 238, 238, 0.39);
}
@media screen and (min-width: 769px) {
  .sign-up-adv {
    margin-top: 4em;
  }
}
.sign-page .alert {
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .sign-page .alert {
    margin: 1em 2em;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  .sign-page .alert {
    font-size: 0.85em;
  }
}
.sign-page .alert-success {
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}
.sign-page .alert-success .close {
  text-shadow: 0px 0px 1px #000;
  opacity: 1;
  background-color: transparent;
}
.sign-page .signup-container {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sign-page .signup-container .float-label.filled {
  margin-bottom: 0;
}
@media screen and (min-width: 769px) {
  _::-webkit-full-page-media,
  _:future,
  :root .email-col {
    margin: 0 -1px;
  }
}
@media screen and (max-width: 650px) {
  .log-sign .welcome-text {
    font-size: 1.4em;
  }
  .log-sign .have-acc,
  .log-sign .no-post-text {
    font-size: 1em;
  }
  .log-sign .social-btn {
    width: 80%;
  }
  .formTitle.formTitle {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 30px;
  }
  .sign-up-row {
    padding: 0 1.5em;
  }
  .sign-up-row .form-group {
    margin: 0.5em 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .sign-up-row .form-group.city,
  .sign-up-row .form-group.area {
    margin: 0.5em 0 0.8em 0;
  }
  .sign-up-row .form-group.area {
    padding-top: 0.5em;
  }
  .sign-up-row .describe-section {
    margin: 1em 0 0 0;
  }
  .sign-up-row .describe-section__title {
    margin-bottom: 0;
  }
  .sign-up-row .describe-section .points {
    margin: 0.8em 0;
  }
  .accept-row.accept-row {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 1em;
  }
  .accept_terms {
    padding-left: 0.8em;
    margin-top: -8px;
    font-size: 0.95em;
  }
  .signBtn {
    margin-bottom: -20px;
  }
}
.require-modal {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .require-modal .modal-dialog {
    width: 550px;
  }
}
.require-modal .float-label {
  font-size: 1em;
}
.require-modal .float-label.filled {
  font-size: 0.9em;
}
.require-modal .fnb-select {
  font-size: 1em;
}
@media screen and (max-width: 480px) {
  .require-modal .fnb-select {
    font-size: 0.95em;
    padding-left: 0;
  }
}
.require-modal .verify-container {
  margin-top: 2em;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .require-modal .verify-container {
    text-align: right;
    margin-top: 0;
    margin-bottom: -25px;
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .require-modal .phone-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.require-modal .modal-content {
  padding: 1em 1.5em;
}
.require-modal .modal-header {
  position: relative;
}
.require-modal__title {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: 500;
}
.require-modal .close {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 1.1em;
}
.require-modal .modal-body {
  padding: 0;
}
.require-modal .describe-section .points__text {
  font-size: 0.9em;
}
@media screen and (max-width: 480px) {
  .require-modal__title {
    font-size: 1.2em;
  }
  .require-modal .verifyPhone {
    font-size: 0.9em;
  }
  .require-modal .describe-section__title {
    margin-bottom: 0;
  }
  .require-modal .describe-section .points {
    margin: 0.8em 0;
  }
}
.forget-page .lock {
  font-size: 3.5em;
}
.forget-page .welcome-text {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.8em;
}
.forgot-points li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
}
@media screen and (max-width: 480px) {
  .forget-holder {
    background-color: #fff;
    height: 90vh;
  }
}
.note-popover {
  display: block;
  top: -5.5em;
  color: #746b6b;
  width: 300px;
  font-size: 1em;
}
@media screen and (min-width: 769px) {
  .note-popover {
    font-size: 0.95em;
  }
}
.m-t-0 {
  margin-top: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-r-0 {
  margin-right: 0px;
}
.m-l-0 {
  margin-left: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-l-0 {
  padding-left: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.p-t-35 {
  padding-top: 35px;
}
.p-b-35 {
  padding-bottom: 35px;
}
.p-r-35 {
  padding-right: 35px;
}
.p-l-35 {
  padding-left: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.p-t-45 {
  padding-top: 45px;
}
.p-b-45 {
  padding-bottom: 45px;
}
.p-r-45 {
  padding-right: 45px;
}
.p-l-45 {
  padding-left: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-r-50 {
  padding-right: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
.text-primary {
  color: #4a90e2 !important;
}
.text-secondary {
  color: #00b990 !important;
}
.text-danger {
  color: #d0021b !important;
}
.cloud-color {
  color: #fff;
}
.label-color {
  color: #8d8e8f;
}
.vl-shadow {
  box-shadow: 0px 1px 3px 0px rgba(177, 173, 173, 0.5);
}
.primary-link {
  color: #4a90e2;
}
.primary-link:hover,
.primary-link:active,
.primary-link:focus {
  color: #76abe9;
  text-decoration: none;
}
.secondary-link {
  color: #00b990;
}
.secondary-link:hover,
.secondary-link:active,
.secondary-link:focus {
  color: #00ecb8;
  text-decoration: none;
}
.dark-link {
  color: #4a4a4a;
  text-decoration: underline;
}
.dark-link:hover {
  color: #646464;
  text-decoration: none;
}
.no-decor {
  text-decoration: none;
}
.no-decor:hover,
.no-decor:active,
.no-decor:focus {
  text-decoration: none;
}
.text-lighter {
  color: #9b9ea0;
}
.text-darker {
  color: #4a4a4a;
}
.text-color {
  color: #6b6b6b;
}
.grey-darker {
  color: #686565;
}
.highlight-color {
  background-color: #f9f9f9;
}
.thinner {
  font-weight: 100;
}
.lighter {
  font-weight: 300;
}
.heavier {
  font-weight: 500;
}
.text-medium {
  font-weight: 400;
}
.bolder {
  font-weight: 600;
}
.text-inherit {
  color: inherit;
}
.text-decor {
  text-decoration: underline;
}
.text-decor:active,
.text-decor:focus {
  text-decoration: underline;
}
.bat-color {
  color: #000;
}
.label-size {
  font-size: 1.1em;
}
@media screen and (max-width: 650px) {
  .label-size {
    font-size: 0.95em;
  }
}
.stable-size {
  font-size: 1.05em;
}
.full-width {
  width: 100%;
}
.overflow-hidden {
  overflow-x: hidden;
}
.full-overflow {
  overflow: hidden;
}
.disable {
  pointer-events: none;
  opacity: 0.3;
}
.no-pointer {
  pointer-events: none;
}
.word-break {
  word-break: break-word;
  line-height: 1.3;
}
.break-all {
  word-break: break-all;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.no-outline {
  outline: 0;
}
.no-outline:focus,
.no-outline:active {
  outline: 0 !important;
}
@media screen and (min-width: 769px) {
  .ellipsis-desk {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 480px) {
  .link-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-center {
    text-align: center;
  }
  .full-m-width {
    width: 100%;
  }
  .mobile-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.default-size {
  font-size: 1em;
}
.element-title {
  font-size: 1.3em;
}
.blocked {
  overflow: hidden;
  margin-left: 280px;
  position: fixed;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .blocked {
    cursor: pointer;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.alert-success {
  background-color: #77d79a;
  border-color: #77d79a;
}
@media screen and (max-width: 650px) {
  .alert-success .close {
    background-color: #4dbb77;
  }
}
.alert-failure {
  background-color: #ed6a4e;
  border-color: #ed6a4e;
}
@media screen and (max-width: 650px) {
  .alert-failure .close {
    background-color: #dc4154;
  }
}
@media screen and (max-width: 769px) {
  .mobile-hide {
    display: none !important;
  }
  .pos-fixed {
    position: fixed;
    background-color: #fff;
    z-index: 1041;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;
    bottom: 0;
  }
  .filterBy .mobile-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .desk-hide {
    display: none !important;
  }
}
.white-box {
  background-color: #fff;
}
.gray-border {
  border: 1px solid #d8d8d8;
}
.scale-down {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.editable {
  background-color: #eee;
}
.tooltip {
  font-size: 0.65em;
}
@media screen and (min-width: 650px) {
  .login-modal .modal-dialog {
    width: 450px;
  }
}
.login-modal .modal-content {
  padding: 1em;
}
.login-modal .modal-body {
  padding: 0;
}
.login-modal .modal-header {
  padding: 0;
}
.login-modal .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.05em;
  opacity: 1;
  z-index: 1;
}
.login-modal .welcome-text {
  font-size: 1.5em;
  margin-bottom: 0.8em;
}
.login-modal .fnb-input {
  margin: 1em 0;
}
.login-modal .fnb-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9b9ea0;
}
.login-modal .fnb-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9ea0;
}
.login-modal .social-btn {
  padding: 0.75em 2em;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  font-size: 1em;
}
.login-modal .social-btn.fb {
  background-color: #3b5998;
}
.login-modal .social-btn.google {
  background-color: #ec2c2c;
}
.login-modal .social-btn i {
  position: absolute;
  left: 10px;
  font-size: 1.35em;
}
.login-modal .float-label.lab-color {
  color: #9b9ea0;
}
.login-modal .float-label.filled {
  font-weight: 500;
  font-size: 1.2em;
  margin: 5px 0;
}
.login-modal .log-action {
  width: 100%;
  border-radius: 0;
  padding: 0.75em 1.8em;
  font-size: 1em;
}
.login-modal .forget-password {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.44, -0.25, 0.75, 1);
          transition: all 0.6s cubic-bezier(0.44, -0.25, 0.75, 1);
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  margin-top: 1em;
}
.login-modal .forget-password.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.login-modal .login-container {
  margin-top: 2em;
  position: relative;
}
.login-modal .alert {
  padding: 0.8em 1.8em;
  border-radius: 0;
}
.login-modal .alert .close {
  top: 4px;
  right: 8px;
  position: absolute;
}
.login-modal .alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.login-modal .alert.alert-success .close {
  opacity: 1;
}
.logo-style {
  position: relative;
  top: -40px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
}
.login-body {
  text-align: center;
  width: 320px;
  margin: -3.5em auto 0 auto;
  position: relative;
  overflow: hidden;
}
.fnb-btn.reset-link {
  width: auto;
}
.alternate-login__title {
  position: relative;
  margin: 1em 0;
}
.alternate-login__title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}
.alternate-login__title span {
  position: relative;
  background-color: #fff;
  padding: 0 1.2em;
}
.forgot-actions {
  margin: 1.6em 0;
}
.back-login {
  cursor: pointer;
}
.no-account .fnb-btn {
  border-radius: 0;
}
@media screen and (max-width: 650px) {
  .modal-open .login-modal {
    top: 1.5em;
  }
  .login-body {
    width: auto;
    margin: -15px auto 0 auto;
    overflow: inherit;
  }
  .login-modal .login-container {
    margin-top: 1em;
  }
  .login-modal .welcome-text {
    font-size: 1.2em;
  }
  .login-modal .fnb-btn {
    font-size: 0.9em;
  }
  .login-modal .alert {
    margin-top: 2em;
  }
  .login-modal .forget-password {
    margin-top: 0;
  }
  .login-modal .forget-password .alert {
    margin-top: 0;
  }
  .login-modal .alert .close {
    background-color: transparent;
  }
  .forgot-actions label,
  .forgot-actions .forget-link {
    font-size: 0.9em;
  }
  .no-account {
    font-size: 0.9em;
  }
  .logo-style {
    width: 50px;
    height: 50px;
    top: -0.5em;
  }
}
/*# sourceMappingURL=styles.css.map */