
// ---------------------------
// HEADER STYLES -----------
// ---------------------------


.vl-header{
	background-color: @header-color;
    color: @cloud-color;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.app-detail{
	font-size: 1.9em;
	font-weight: 300;
}
.back-link{
	font-size: 0.95em;
}