
// ---------------------------
// HEADER STYLES -----------
// ---------------------------


.vl-header{
	background-color: @header-color;
    color: @cloud-color;
    padding: 1em;
}

.app-detail{
	font-size: 2em;	
}